[user]
	email = andrew.bowers@agamecoder.com
	name = Andrew Bowers
[branch]
    autosetuprebase = always
[push]
    default = simple
[alias]
    co = checkout
    cob = checkout -b
    newb = !git rfd && git cob
    cod = checkout develop
    rbd = rebase develop
    rfd = !git cod && git pull --rebase
    cor = checkout release/7-510
    rbr = rebase release/7-510
    rfr = !git cor && git pull --rebase
    cof = checkout feature/ILRN-67281-OWLv2-workflow-improvements
    rbf = rebase feature/ILRN-67281-OWLv2-workflow-improvements
    rff = !git cof && git pull --rebase
    current = !echo `git branch | grep '*' | awk 'NF>1{print $NF}'`
    cm = commit -a -m
    amend = commit -a --amend --no-edit
    amendm = commit -a --amend
    ec = config --global -e
    fr = !git full-rebase
    full-rebase = !CURRENT=`git current` && git rfd && git rebasey $CURRENT
    full-release = !CURRENT=`git current` && git rfr && git releasey $CURRENT
    full-feature = !CURRENT=`git current` && git rff && git refeaturey $CURRENT
    pod = !git put-on-develop
    put-on-develop = !CURRENT=`git current` && git fr && git cod && git merge $CURRENT
    diffy = !git diff > /c/ender/documents/out.diff
    rebasey = "!f() { git co $1 && git rbd; }; f"
    releasey = "!f() { git co $1 && git rbr; }; f"
    refeaturey = "!f() { git co $1 && git rbf; }; f"
    full-remote-refresh = !git rff && git rfr && git rfd
    url = remote show origin
    push-branch = !CURRENT=`git current` && git push --set-upstream origin $CURRENT
    bpush = !git push-branch
    remove-branch = "!f() { git branch -d -r $1 && git push origin :$1; }; f"
    bkill = "!f() { git remove-branch $1; }; f"